<h1>Payment Results</h1>

<div>APR</div>
<div><%= @apr %></div>
<div>Number of years</div>
<div><%= @years %></div>
<div>Principal</div>
<div><%= @principal %></div>
<div>Payment</div>
<div><%= @payment %></div>

<div><%= @rate %></div>
<div><%=@periods%></div>
<div><%= @numer %></div>
<div><%= @expo %></div>
<div><%= @oneplus %></div>
<div><%= @minus %></div>
<div><%= @denom %></div>

</div>
<a href="/payment/new">
  Calculate another payment
</a>
